{%extends 'base.html'%}
{%load static%}

{%block contents%}

     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">
<h2>User Login Form	</h2>
					<p>
 <form action="{%url 'UserLoginCheck'%}" method="POST" class="text-primary" style="width:100%">
                    {% csrf_token %}
                    <table>
                        <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" name="loginname" required placeholder="Enter Login Id">
                </div>
              </div>
                        <div class="form-group row">
                <div class="col-md-12">
                  <input type="password" class="form-control" name="pswd" required placeholder="Enter password">
                </div>
              </div>


                        <tr>
                            <td>
                                <button class="btn btn-block btn-primary text-white py-3 px-5" style="margin-left:20%;"
                                        type="submit">
                                    Login
                                </button>
                            </td>
                        </tr>

                        {% if messages %}
                        {% for message in messages %}
                        <font color='WHITE'> {{ message }}</font>
                        {% endfor %}
                        {% endif %}

                    </table>

                </form>

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">We are ready for your digital marketing</h1>

                                   <a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let us discuss together!</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{%static 'images/working-girl.png'%}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>


{%endblock%}